// Place custom scss here
html {
			font-size: 16px;
			}
			/* Space out content a bit */
			body {
			padding-top: 3.5rem;
			padding-bottom: 1.5rem;
			}
			
			
	
			
			
			.alert {
			display: block;
			width: 100%;
			}
			
			.vi-alert {
				font-size: .94rem;
				}
			
			.exercise-list, table {
				font-size: .90rem;
				}
				

			/* navbar links */
			
			.bg-inverse {
				background-color: rgba(41,43,44,.85)!important;
				}
				
			/* add padding to the left for dropable links */
			.navbar-nav .nav-link {
				padding-left: 1rem;
}
			
			.navbar-inverse .navbar-nav .nav-link:hover {
				background-color: $vi-purple;
			}
			
			.dropdown-item:focus, .dropdown-item:hover {
				background-color: $vi-purple;
				color: $navbar-inverse-hover-color;
			}
			
			.dropdown-menu {
					height: 10rem;
					overflow-y: scroll;
					
				}
			
			.marketing .fa {
				font-size: 5rem ;
				}
				
			.vi-fa {
				font-size: 1rem!important;
				}
				
			.vi-divider {
				margin: 80px 0;
			}
			
			.vi-divider-50 {
				margin: 50px 0;
			}
			
			.card {
				margin-bottom: 1rem;
				}
			
			/* follow-up styles */
			.thead-inverse th {
    color: #fff;
    background-color: rgba(41,43,44,.85)!important;
		}
		
		