app-backup/**
misc/**
pdf/**
presentations/**
sql/**
code/**
audio/**
cetec/**
public_html/**
prepa/ingles-2-pdf/**
ceteci/inc/db_ceteci_conn.php
.htaccess
.ftpconfig
.idea/**

#files
rsss.php
todas_lecciones-with-infinite-scroll.php
ejercicio_backup-03-07-2016.php
ejercicio_backup.php