
ceteci/inc/db_ceteci_conn.php
.htaccess
.ftpconfig

#files
rsss.php
todas_lecciones-with-infinite-scroll.php
ejercicio_backup-03-07-2016.php
ejercicio_backup.php
.idea/
app-backup/
app_old/app_ads/
audio/
cetec/
ceteci/sql/
ceteci/uploads/
code/
misc/
pdf/
prepa/ingles-2-pdf/
presentations/
public_html/
sql/
/ceteci/console.php
*.laccdb
