app-backup/**
misc/**
pdf/**
presentations/**
sql/**
code/**
audio/**
ceteci/inc/db_ceteci_conn.php
.htaccess

#files
rsss.php
todas_lecciones-with-infinite-scroll.php
ejercicio_backup-03-07-2016.php
ejercicio_backup.php