/* for real resources styles */
body {
	margin-top: 70px;
	position: relative;
}

a[href$='.pdf'] {  
    padding-right: 28px; /* or the width of your icon */
    background-image: url(../../../../vidaingles/i/pdf-xs.png);
    background-repeat: no-repeat;
      background-position: right center; /* Adjust if needed */
}
.padTop50 {
	padding-top: 50px;
}
.bg-warning {
	padding:10px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
}
ul.syntax {
	list-style: none;
}
.syntax {
	font-family: monospace, tahoma;
}
span.tradu {
	font-size: 11px;
	font-family: Verdana, tahoma;
	color: rgba(136, 136, 136, 0.9);
	word-spacing: -1px;
	display: block;
	font-style: italic;
	margin-top: -2px;
}
ul.example-lists > li {
	margin-bottom: 8px;
	list-style: square;
}
nav.bs-docs-sidebar ul li ul {
	padding-left: 10px;
}