/* for real resources styles */
body {
	margin-top: 70px;
	position: relative;
}

a[href$='.pdf'] {  
    padding-right: 28px; /* or the width of your icon */
    background-image: url(../../../../vidaingles/i/pdf-xs.png);
    background-repeat: no-repeat;
	background-position: right center; /* Adjust if needed */
}
.padTop50 {
	padding-top: 50px;
}
.bg-warning {
	padding:10px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
}
ul.syntax {
	list-style: none;
}
.syntax {
	font-family: monospace, tahoma;
	color: #ae81e1;
	GGcolor: #f92672;
}
span.tradu {
	font-size: 11px;
	font-family: Verdana, tahoma;
	color: rgba(136, 136, 136, 0.9);
	word-spacing: -1px;
	display: block;
	font-style: italic;
	margin-top: -2px;
}
ul.example-lists > li {
	margin-bottom: 8px;
	list-style: square;
}

ul.example-lists > li > ul > li {
	margin-bottom: 8px;
	list-style: square;
}

nav.bs-docs-sidebar ul li ul {
	padding-left: 10px;
}

body {
	font-family: Verdana, Arial;
	background-color: #111111;
	color: #eee;
	font-size: 16px;
}
b {
	color: #66d9ef;
}

em {
	color: #66d9ef;
}
h3,h4,h5 {
	color: #a6e22e;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #333333;
}
.featurette-divider {
	margin-top:50px; 
}

.well, .bg-warning {
	background-color: #333;
	
	}
	